header{
    height: 15vh;
    background-color: #0080CD;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
h1{
    color:white;
    font-size:5em;
    font-weight: bold;
}
h2{
    color:white;
    font-size:3em;
    font-weight: bold;
    text-align: center;
}
.tela1{
    height:80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: orange;
}
.botoes{
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    

    
}
button{
    background-color: #0080CD;
    border-radius: 6px;
    width: 130px;
    height: 65px;
    border: 0;
    margin:5px;
    color:white;
    font-size: 1em;
    
}